## Backend: ldap or mysql
MAILPANEL_BACKEND=ldap

## General
MAILPANEL_SECRET_KEY=change-me-to-a-random-string

## LDAP Settings (required when MAILPANEL_BACKEND=ldap)
MAILPANEL_LDAP_URI=ldap://192.168.2.1
MAILPANEL_LDAP_ROOT_DN=dc=example,dc=com
MAILPANEL_LDAP_USER=postmaster@example.com
MAILPANEL_LDAP_PASSWORD=password
# MAILPANEL_LDAP_TLS_VERIFY=false

## MySQL Settings (required when MAILPANEL_BACKEND=mysql)
# MAILPANEL_MYSQL_HOST=127.0.0.1
# MAILPANEL_MYSQL_PORT=3306
# MAILPANEL_MYSQL_DATABASE=vmail
# MAILPANEL_MYSQL_USER=vmailadmin
# MAILPANEL_MYSQL_PASSWORD=password
# MAILPANEL_VMAIL_PATH=/var/vmail
# MAILPANEL_STORAGE_NODE=vmail1

## Password Settings
# MAILPANEL_PASSWORD_MIN_LENGTH=8
# MAILPANEL_PASSWORD_INCLUDES_SPECIAL_CHARS=true
# MAILPANEL_PASSWORD_INCLUDES_NUMBERS=true
# MAILPANEL_PASSWORD_INCLUDES_LOWERCASE=true
# MAILPANEL_PASSWORD_INCLUDES_UPPERCASE=true
# MAILPANEL_PASSWORD_HASHES_USE_PREFIXED_SCHEME=true
# MAILPANEL_PASSWORD_DEFAULT_SCHEME=SSHA512

## Pagination
# MAILPANEL_PAGINATION_PER_PAGE=50
