## Required
IREDADMIN_LIGHT_SECRET_KEY=change-me-to-a-random-string
IREDADMIN_LIGHT_LDAP_URI=ldap://192.168.2.1
IREDADMIN_LIGHT_LDAP_ROOT_DN=dc=example,dc=com
IREDADMIN_LIGHT_LDAP_USER=postmaster@example.com
IREDADMIN_LIGHT_LDAP_PASSWORD=password

## Optional
# IREDADMIN_LIGHT_NAME=local
# IREDADMIN_LIGHT_TEMPLATES_AUTO_RELOAD=true
# IREDADMIN_LIGHT_PASSWORD_MIN_LENGTH=8
# IREDADMIN_LIGHT_PASSWORD_INCLUDES_SPECIAL_CHARS=true
# IREDADMIN_LIGHT_PASSWORD_INCLUDES_NUMBERS=true
# IREDADMIN_LIGHT_PASSWORD_INCLUDES_LOWERCASE=true
# IREDADMIN_LIGHT_PASSWORD_INCLUDES_UPPERCASE=true
# IREDADMIN_LIGHT_PASSWORD_HASHES_USE_PREFIXED_SCHEME=true
# IREDADMIN_LIGHT_PASSWORD_DEFAULT_SCHEME=SSHA512
